<p-toast />
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
    </ng-template>


</p-toolbar>

<p-table #dt [value]="maquinarias" [rows]="10" [paginator]="true" [globalFilterFields]="['tipo','codigo','marca']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Maquinaria</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="search" (input)="search($event)" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="NroVehiculo" style="min-width:15rem">
                Nro Vehiculo <p-sortIcon field="NroVehiculo" />
            </th>
            <th>
                Patente del vehiculo
            </th>
            <th pSortableColumn="TIPO">
                Tipo <p-sortIcon field="TIPO" />
            </th>
            <th pSortableColumn="MARCA" style="min-width:10rem">
                Marca <p-sortIcon field="MARCA" />
            </th>
            <th pSortableColumn="OBSERVACION">
                Modelo <p-sortIcon field="OBSERVACION" />
            </th>
            <th pSortableColumn="updatedAt" style="min-width:10rem">
                Fecha <p-sortIcon field="updatedAt" />
            </th>
            <th  style="min-width:10rem">
                Estado
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-maquinaria>
        <tr>
            <td>
                {{ maquinaria.NroVehiculo }}
            </td>
            <td>
                {{ maquinaria.Patentedelvehiculo }}
            </td>
            <td>
                {{ maquinaria.TIPO }}
            </td>
            <td>
                {{ maquinaria.MARCA }}
            </td>
            <td>
                {{ maquinaria.DESCRIPCION }}
            </td>
            <td>
                {{ maquinaria.createdAt | date:'dd/MM/yyyy' }}
            </td>
            <td>
                {{maquinaria.OPERATIVIDAD.items | state}}
            </td>
            <td>
                <p-button pRipple icon="pi pi-exclamation-triangle" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                    (click)="addStatusOperatividad(maquinaria)" />
                <p-button pRipple icon="pi pi-eye" severity="info" [rounded]="true" [outlined]="true"
                [routerLink]="[ '/operatividad', maquinaria.id ]" />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
           en total hay {{ maquinarias ? maquinarias.length : 0 }} maquinas.
        </div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="maquinariaDialog" [style]="{ width: '450px' }" header="Nueva maquinaria" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="Nvehiculo">Nro de vehiculo</label>
            <input type="text" pInputText id="Nvehiculo" [(ngModel)]="maquinaria!.NroVehiculo" required autofocus />
            <small class="p-error" *ngIf="submitted && !maquinaria!.NroVehiculo">
                Debes ingresar el Nro de vehiculo
            </small>
        </div>
        <div class="field">
            <label for="patente">Patente del vehiculo</label>
            <input type="text" pInputText id="patente" [(ngModel)]="maquinaria!.Patentedelvehiculo" required />
            <small class="p-error" *ngIf="submitted && !maquinaria!.Patentedelvehiculo">
                Debes ingresar la patente del vehiculo
            </small>
        </div>
        <div class="field">
            <label for="tipo">Tipo</label>
            <input type="text" pInputText id="tipo" [(ngModel)]="maquinaria!.TIPO" required />
            <small class="p-error" *ngIf="submitted && !maquinaria!.TIPO">
                Debes ingresar el tipo de maquinaria
            </small>
        </div>
        <div class="field">
            <label for="marca">Marca</label>
            <input type="text" pInputText id="marca" [(ngModel)]="maquinaria!.MARCA" required />
            <small class="p-error" *ngIf="submitted && !maquinaria!.MARCA">
                Debes ingresar la marca de la maquinaria
            </small>
        </div>
        <div class="field">
            <label for="modelo">Modelo</label>
            <input type="text" pInputText id="modelo" [(ngModel)]="maquinaria!.DESCRIPCION" required />
            <small class="p-error" *ngIf="submitted && !maquinaria!.DESCRIPCION">
                Debes ingresar el modelo de la maquinaria
            </small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideDialog()"></p-button>
        <p-button pRipple label="Save" icon="pi pi-check" [text]="true" (click)="saveMaquinaria()"></p-button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="operatividadDialgo"  [header]="'Operatividad maquina '+maquinaria?.NroVehiculo" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field p-3">
        <label for="operatividad">¿Esta operativa la maquina {{maquinaria?.NroVehiculo}}?</label>
        <div class="flex flex-row gap-3 w-full ">
            <div class="flex align-items-center">
                <p-radioButton [value]="true" [(ngModel)]="operatividadMaquinaria.ACTIVO" inputId="si" />
                <label for="si" class="ml-2">
                    Si
                </label>
            </div>
            <div class="flex flex-row gap-3 w-full ">
                <div class="flex align-items-center">
                    <p-radioButton [value]="false" [(ngModel)]="operatividadMaquinaria.ACTIVO" inputId="no" />
                    <label for="no" class="ml-2">
                        No
                    </label>
                </div>


        </div>
        <small class="p-error" *ngIf="submitted && !maquinaria!.NroVehiculo">
            Debes ingresar el Nro de vehiculo
        </small>
        </div>
        </div>
        @if (!operatividadMaquinaria.ACTIVO) {
            <div class="w-full flex gap-3 p-3 flex-column">

            <div class="flex w-full fler- ">
                <p-floatLabel>
                <textarea 
                inputId="descripcion"
                rows="5"
                cols="30" 
                pInputTextarea 
                [autoResize]="true"
                [(ngModel)]="operatividadMaquinaria.DESCRIPCION">
            </textarea>
            <label for="descripcion">¿Por que no esta operativa?</label>
        </p-floatLabel>
         </div>
         <div class="flex-auto ">
            <label for="buttondisplay" class="font-bold block mb-2"> Fecha desde dejo de ser operativa </label>
    
            <p-calendar  
                appendTo="body"
                [(ngModel)]="operatividadMaquinaria.FECHA"
                [showIcon]="true" 
                inputId="buttondisplay" 
                [showOnFocus]="false" />
         </div>
        </div>
        }
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideDialogOperatividad()"></p-button>
        <p-button pRipple label="Save" icon="pi pi-check" [text]="true" (click)="saveOperatividad()"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />