<div class="col-12 field">
    <p-fileUpload #fileUploader  (onUpload)="onUpload($event)" [customUpload]="true"  [multiple]="multipleFile" (onSelect)="onUpload($event)" accept="image/*" [showUploadButton]="true" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card border-round">
        <ng-template pTemplate="content">
            <div class="h-15rem overflow-y-auto py-3 border-round" style="cursor: copy" (click)="fileUploader.advancedFileInput.nativeElement.click()">
                @if (images().length==0) {
                <div  class="flex flex-column w-full h-full justify-content-center align-items-center">
                    <i class="pi pi-file text-4xl text-primary"></i>
                    <span class="block font-semibold text-900 text-lg mt-3">Seleccione la imagen</span>
                </div>
            }@else {
                <div class="flex flex-wrap gap-3 border-round">
                 @for (file of images(); track $index) {
                    <div  class="h-full relative w-7rem h-7rem border-3 border-transparent border-round hover:bg-primary transition-duration-100 cursor-auto" (mouseenter)="onImageMouseOver(file)" (mouseleave)="onImageMouseLeave(file)" style="padding: 1px;">
                        <img [src]="file.objectURL" class="w-full h-full border-round shadow-2" [alt]="file.name">
                        <button [id]="file.name" #buttonEl pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center cursor-pointer h-auto" style="top: -10px; right: -10px; display: none;" (click)="$event.stopPropagation(); removeImage(file)"></button>
                    </div>
                }
                </div>
            }

            </div>
        </ng-template>
    </p-fileUpload>
</div>